<!-- Should show movies and shows -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFMovieDb</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<nav class="navbar">
    <a href="/" class="logo">INFMovieDb</a>
    <ul>
        <a href="/catalogue">Catalogue</a>
        <a href="/loginUser">Login</a>
        <a href="/createUser">Register</a>
        <a href="/logOutUser">Logout</a>
        <a href="/userProfile">Profile</a>
    </ul>
</nav>

<body>
    <h1>Hello world!</h1>
</body>

<footer>
    <p>MovieForums</p>
</footer>
</html>
